*{margin:0;top:0;list-style:none;text-decoration:none;}
/*头部*/
.margin{width:1200px;}
#top{height:30px;border-top:1px solid #cecece;background:url(../images/t1.png)  }
#top .t-f1{float:left;}
#top .t-f1{float:left;width:700px;height:30px;}
#top .top-l .t-f1 h2{float:left;}
#top .top-l .t-f1 h2 {font:700 12px/30px  "";color:#676767;margin:0 6px 0 15px;}
#top .top-l .t-f1 h2 .n-login{display:block;float:left;}
#top .top-l .t-f1 h2 a{display:block;float:left;}
#top .t-f1 h2 a{font:700 12px/30px "";color:#ff7700;margin-left:6px;}
#top .t-fr{float:right;margin-right:16px;}
#top .t-fr li{float:left;}
#top .t-fr li b{color:#bfbfbf;display: block;float:left;width:1px;height:12px;margin-top:5px;}
#top .t-fr li a{color:#676767;display:block;float:left;font:12px/30px "";padding:0 8px 0 12px;}
#top .t-fr .fr-d2{position:relative;}

#top .t-fr .fr-d2 .car-num{color:#f9ba54;margin-left:5px;font-size:15px; font-weight:700;}
#top .t-fr .fr-d2 s{background:url(../images/t2.png) no-repeat;width:17px;height:13px;
float;left;overflow:hidden;position:absolute;left:8px;top:8px;}
#top .t-fr .fr-d2 a{display:block;margin-left:15px;margin-right:13px;}


#top .t-fr .fr-d2 .t3{background:url(../images/t3.png) no-repeat;;overflow:hidden;
 position:absolute;right:8px;top:15px;display:block;width:10px;height:10px;} 
 #top .t-fr .fr-d3{position:relative;}
 #top .t-fr .fr-d3 a{margin-right:10px;}
 #top .t-fr .fr-d3 .t3{background:url(../images/t3.png) no-repeat;;overflow:hidden;
 position:absolute;right:8px;top:15px;display:block;width:10px;height:10px;} 
 #top .t-fr .fr-d3 .server{position:absolute;left:-26px;top:30px;width:80px;background:#fff;z-index:5;}
  #top .t-fr .fr-d3 .server li{height:20px;display:none;cursor: pointer;}
  #top .t-fr .fr-d3:hover {background;#fff;cursor: pointer;}
  #top .t-fr .fr-d3:hover .server li{display:block;cursor: pointer;}
 
 
 
 
 
 /*搜索*/
#header{height:90px;background:url(http://pic.shouliwang.com/giftimages/top/2015xmnewbg.gif) no-repeat;position:relative;}
#header .logo{width:140px;height:74px;margin:6px 0 0 28px;border-width:  40px;float:left;}
#header .search{float:left;height:74px;width:356px;margin:25px 0 0 350px;}
#header .search .form1{height:38px;width:358px;position:relative;border:3px solid #fe9901}
#header .search .form1 .txt{font-size:14px;height:30px;width:288px;color:#999;position:absolute;left:0;background:none;top:0;right:0;border:#fff;padding:4px}
#header .search .form1 .btn{font-size:14px;height:40px;width:60px;color:#fff;background:#fe9901;position:absolute;right:0;border:0;top:0;}
#header .search .hotSearch{color:#000;font:12px/26px "";}
#header .search .hotSearch a{color:#000;}
#header .header-r{height:90px;width:246px;float:right;}
#header .header-r .hr-f{float:right;height:90px;width:246px;}

#header .header-r .hr-f li{float:left;width:52px;height:60px;margin:20px 0 0 22px;}
#header .header-r .hr-f li a{float:left;display;block;}
#header .header-r .hr-f li a span{display:block;text-align:center;}
#header .header-r .hr-f li a b{display:block;font:700 12px/2 "";color:#959595;}
/*nav*/
#nav {height:32px;background:#ffa51f;position:relative}
#nav .nav-d{height:32px;position:absolute;left:0;top:0;}
#nav .nav-d li{width:106px;height:32px;float:left;margin:0;padding:0;}
#nav .nav-d li:hover{background:#cc6600}
#nav .nav-d li a{font:700 14px/32px "";color:#fff;line-height:32px;text-align:center;display:block;}
#nav .nav-d .categories{width:182px;padding-left:22px;position:relative;}

#nav .nav-d .hot{background:#cc6600}
#nav .nav-d .categories:hover{background:none;text-decoration: underline;}



/*banner*/










/*main*/
#main{height:484px;}
#main .main-v{width:910px;height:30px;background:#f4f4f4;margin:10px 0 0 17px;border-box:box-sizing;display:flex;padding:0}
#main .main-v li{flex:1;font:700 14px/30px "";border:1px solid #e0e0e0;text-align:center;}
#main .main-v li a{color:#000;}
#main .main-v li:hover{background:#fff;border-bottom:0;}
#main .main-v li:hover a{color:#ce0205}
#main  .commodities{width:928px;height:454px;}
/*cake*/
#cake{height:500px;}
#cake .infor{height:40px;}
#cake .infor span{height:40px;display:block;margin-left:120px;} 
#cake .infor span a{font:12px/2 "";color:#000;}
#cake .boximg{float:left;width:360px;height:440px;margin-left:120px;}
#cake .boximg .bigbox{position:relative;width:360px;height:360px;border:1px solid #dcdcdc;}
#cake .boximg .bigbox li{display:none;position:absolute;left:5px;}
#cake .boximg .bigbox li:nth-child(1){display:block;}
#cake .boximg .bigbox li img{width:360px;height:360px;}
#cake .boximg .smallbox{height:60px;}
#cake .boximg .smallbox li{margin:10px 10px 0 0;float:left;width:52px;height:52px;border:1px solid #dcdcdc;}
#cake .boximg .smallbox li img{width:52px; height:52px;}

.s_box{width: 360px;height: 360px;position: relative;}
.s_box img{width: 360px;height: 360px;position: absolute;}
.s_box span{background:(255,255,255,.1);width: 90px;height: 90px;position: absolute;left: 0;top: 0;display: none;}
			
.b_box{width: 360px;height: 360px;position: absolute;left: 600px;overflow: hidden;display: none;}
.b_box img{width: 1440px;height: 1440px;position: absolute;}
			






#cake .titl{width:600px;height:430px;float:right;}
#cake .titl p{float:left;width:600px;height:34px;border-bottom:1px dashed #000;}
#cake .titl b{font:12px/2 "";color:#000;display:block;}
#cake .titl .im{width:52px;height:57px;border:1px solid #d4d4d4;float:left;margin-right:10px;}
#cake .titl .im img{width:52px;height:57px;}
#cake .titl i{display:block;background:#f97801;border-radius: 6px;width:132px;height:38px;color:#fff;text-align:center;font:16px/38px "";}
#cake .titl s{display:block;color:#aa0000;}
#cake .titl .mg{border:2px solid #f97801;display:block;}
/*goods*/
section{}
section .goods{margin-left:120px;padding:0;height:30px;border-bottom:2px solid #de7701;}
section .goods li{font:14px/30px "";float:left;width:122px;height:30px;background:#fff2d4;border:1px solid #de7701;margin-right:5px;text-align:center;}
section .goods .active{background:#de7701;color:#fff;font-weight:700;}
section .olist{margin-left:120px;height:162px;border:1px solid #d4d4d4;background:#f7f7f7;}
section .olist .list{float:left;}
section .olist .list li{width:322px;float:left;font:12px/2 "";color:#666;}
section .olist .list .t1{width:700px;}
section .olist .list .t2{width:1000px;}
section .display{text-align:center;margin:10px 0 0 120px;}
section .display img{display:block;}















/*footer*/
#footer{height:158px;position:relative}
#footer p{font:12px/52px "";text-align:center;}
#footer .cont{height:42px;margin-left:10px;}
#footer .cont li{float:left;width:170px;display:relative;height:44px;}
#footer .cont li b{float:left;display:block;width:62px;height:48px;background: url(../images/foot-t.png) no-repeat;background-position:0 0;}
#footer .cont li span{float:left;display:block;width:100px;font:8px/2 "";color:#454545;float:left;}
#footer .cont li:nth-child(1) b{background-position:0 0;}
#footer .cont li:nth-child(2) b{background-position:0 -46px;width:30px;}
#footer .cont li:nth-child(3) b{background-position:0 -90px;width:40px;}
#footer .cont li:nth-child(4) b{background-position:0 -136px;}
#footer .cont li:nth-child(5) b{background-position:0 -189px;}
#footer .cont li:nth-child(6) b{background-position:0 -239px;width:30px}

#footer .cont li:nth-child(1) {width:212px}
#footer .cont li:nth-child(1) span{width:145px;}
#footer .cont li:nth-child(2){width:210px}
#footer .cont li:nth-child(2) span{width:176px;}
#footer .cont li:nth-child(3){width:140px}
#footer .cont li:nth-child(5) span{width:110px;}
#footer .cont li:nth-child(5){width:188px}
#footer .cont li:nth-child(6) span{width:140px;}
#footer .cont li:nth-child(6){width:200px}
#footer .foot-t{height:192px;text-align:center;margin:10px;}
#footer .foot-t s{font:12px/2 "";color:#666;display:block;}
#footer .foot-t i{font:12px/2 "";color:#939393;background:url(../images/t7.png) no-repeat left;padding-left:20px;}




